/* Pagination links */
table{
 position: relative;
 margin:0 auto;
}

.pagination{
  position: absolute;
  top: 480px;
}
.pagination a {
    color: black;
    padding: 8px 16px;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(204, 220, 226);
    border-radius: 2px;

  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}
table,th,td{
    border:1px solid black;
    border-collapse:collapse;
}
 

